[submodule "lib/json"]
	path = lib/json
	url = https://github.com/nlohmann/json.git
[submodule "lib/curlcpp"]
	path = lib/curlcpp
	url = https://github.com/JosephP91/curlcpp.git
[submodule "lib/tinyxml"]
	path = lib/tinyxml
	url = https://github.com/leethomason/tinyxml2.git
